<% COMMENT %>

This is a commented section.

<% EVAL { 2 ** 8 } %>
<% ENV PATH %>
<% /COMMENT %>
<% COMMENT %>

This is a commented section.

<% EVAL { 2 ** 8 } %>
<% ENV PATH %>
<% /COMMENT %>
<% COMMENT %>

This is a commented section.

<% EVAL { 2 ** 8 } %>
<% ENV PATH %>
<% /COMMENT %>
<% COMMENT %>

This is a commented section.

<% EVAL { 2 ** 8 } %>
<% ENV PATH %>
<% /COMMENT %>
This is outside the commented section.

<% EVAL { 2 ** 8 } %>
<% ENV PATH %>
