Method:
<% METHODCALL errorObj throwError %>

Illegal methodcall:
<% METHODCALL errorObj 1something %>

Illegal array index:
<% METHODCALL oneDimArray something %>

Method on string after one chain:
<% METHODCALL oneDimArray 1.something %>

Some other stuff.

--END--
