
List start:
----------------------------------------------------------------------
<% FOREACH testList %>
	>>> <% METHOD testList %>
<% END FOREACH %>
----------------------------------------------------------------------
List end.

Syntactic sugar start:
----------------------------------------------------------------------
<% FOREACH value IN testSugarList %>
<% IF { $ITERATION % 2 } %>
	>>> [EVEN] <% METHOD value %>
<% ELSE %>
	>>> [ODD] <% METHOD value %>
<% END IF %>
<% END FOREACH %>
----------------------------------------------------------------------
Syntactic sugar end.

Deref list start:
----------------------------------------------------------------------
<% FOREACH value IN DEREF derefList %>
	>>> <% METHOD value %>
<% END FOREACH %>
----------------------------------------------------------------------
Deref list end.

Methodchain start:
----------------------------------------------------------------------
<% FOREACH value IN testMethodChain testArrayMethod %>
	>>> <% METHOD value %>
<% END FOREACH %>
----------------------------------------------------------------------
Methodchain end.

Deref methodchain start:
----------------------------------------------------------------------
<% FOREACH value IN DEREF testDerefObject testArrayRefMethod %>
	>>> <% METHOD value %>
<% END FOREACH %>
----------------------------------------------------------------------
Deref methodchain end.

Hash iterator (hash) start:
----------------------------------------------------------------------
<% FOREACH PAIR pair IN testHashIter %>
    >>> <% METHODCALL pair key %> => <% METHODCALL pair value %>
<% END FOREACH %>
----------------------------------------------------------------------
Hash iterator (hash) end.

Key-sorted hash iterator (hash) start:
----------------------------------------------------------------------
<% FOREACH PAIR pair IN testKeySortedHashIter SORT BY_KEY %>
    >>> <% METHODCALL pair key %> => <% METHODCALL pair value %>
<% END FOREACH %>
----------------------------------------------------------------------
Key-sorted hash iterator (hash) end.

Value-sorted hash iterator (hash) start:
----------------------------------------------------------------------
<% FOREACH PAIR pair IN testValueSortedHashIter SORT VALUES %>
    >>> <% METHODCALL pair key %> => <% METHODCALL pair value %>
<% END FOREACH %>
----------------------------------------------------------------------
Value-sorted hash iterator (hash) end.

Custom-sorted (by second letter of key) hash iterator (hash) start:
----------------------------------------------------------------------
<% FOREACH PAIR pair IN testHashIter SORT {
	substr($a->{key},1) cmp substr($b->{key},1)
} %>
    >>> <% METHODCALL pair key %> => <% METHODCALL pair value %>
<% END FOREACH %>
----------------------------------------------------------------------
Custom-sorted iterator (hash) end.

Hash iterator (hashref) start:
----------------------------------------------------------------------
<% FOREACH PAIR pair IN testHashrefIter %>
    >>> <% METHODCALL pair key %> => <% METHODCALL pair value %>
<% END FOREACH %>
----------------------------------------------------------------------
Hash iterator (hashref) end.

Key-sorted hash iterator (hashref) start:
----------------------------------------------------------------------
<% FOREACH PAIR pair IN testKeySortedHashrefIter SORT KEYS %>
    >>> <% METHODCALL pair key %> => <% METHODCALL pair value %>
<% END FOREACH %>
----------------------------------------------------------------------
Key-sorted hash iterator (hashref) end.

Value-sorted hash iterator (hashref) start:
----------------------------------------------------------------------
<% FOREACH PAIR pair IN testValueSortedHashrefIter SORT BY_VALUE %>
    >>> <% METHODCALL pair key %> => <% METHODCALL pair value %>
<% END FOREACH %>
----------------------------------------------------------------------
Value-sorted hash iterator (hashref) end.

Custom-sorted (by reverse key) hash iterator (hashref) start:
----------------------------------------------------------------------
<% FOREACH PAIR pair IN testValueSortedHashrefIter SORT WITH {
	scalar reverse($a->{key}) cmp scalar reverse($b->{key})
} %>
    >>> <% METHODCALL pair key %> => <% METHODCALL pair value %>
<% END FOREACH %>
----------------------------------------------------------------------
Custom-sorted hash iterator (hashref) end.

Hash iterator (hash) from methodChain start:
----------------------------------------------------------------------
<% FOREACH PAIR pair IN testHashIterObject hash %>
    >>> <% METHODCALL pair key %> => <% METHODCALL pair value %>
<% END FOREACH %>
----------------------------------------------------------------------
Hash iterator (hash) from methodChain end.

Key-sorted hash iterator from methodChain start:
----------------------------------------------------------------------
<% FOREACH PAIR pair IN testKeySortedHashIterObject hash SORT BY_KEY %>
    >>> <% METHODCALL pair key %> => <% METHODCALL pair value %>
<% END FOREACH %>
----------------------------------------------------------------------
Key-sorted hash iterator from methodChain end.

Value-sorted hash iterator from methodChain start:
----------------------------------------------------------------------
<% FOREACH PAIR pair IN testValueSortedHashIterObject hash SORT VALUES %>
    >>> <% METHODCALL pair key %> => <% METHODCALL pair value %>
<% END FOREACH %>
----------------------------------------------------------------------
Value-sorted hash iterator from methodChain end.

Custom-sorted (by-value) hash iterator from methodChain start:
----------------------------------------------------------------------
<% FOREACH PAIR pair IN testValueSortedHashIterObject hash SORT WITH {
	$a->{value} <=> $b->{value}
} %>
    >>> <% METHODCALL pair key %> => <% METHODCALL pair value %>
<% END FOREACH %>
----------------------------------------------------------------------
Custom-sorted hash iterator from methodChain end.

Hash iterator (hashref) from methodChain start:
----------------------------------------------------------------------
<% FOREACH PAIR pair IN testHashrefIterObject hashref %>
    >>> <% METHODCALL pair key %> => <% METHODCALL pair value %>
<% END FOREACH %>
----------------------------------------------------------------------
Hash iterator (hashref) from methodChain end.

Key-sorted hash iterator (hashref) from methodChain start:
----------------------------------------------------------------------
<% FOREACH PAIR pair IN testKeySortedHashrefIterObject hashref SORT BY_KEY %>
    >>> <% METHODCALL pair key %> => <% METHODCALL pair value %>
<% END FOREACH %>
----------------------------------------------------------------------
Key-sorted hash iterator (hashref) from methodChain end.

Value-sorted hash iterator (hashref) from methodChain start:
----------------------------------------------------------------------
<% FOREACH PAIR pair IN testValueSortedHashrefIterObject hashref SORT VALUES %>
    >>> <% METHODCALL pair key %> => <% METHODCALL pair value %>
<% END FOREACH %>
----------------------------------------------------------------------
Value-sorted hash iterator (hashref) from methodChain end.

Custom-sorted (reverse by-value) hash iterator (hashref) from methodChain start:
----------------------------------------------------------------------
<% FOREACH PAIR pair IN testValueSortedHashrefIterObject hashref SORT WITH {
	$b->{value} <=> $a->{value}
} %>
    >>> <% METHODCALL pair key %> => <% METHODCALL pair value %>
<% END FOREACH %>
----------------------------------------------------------------------
Custom-sorted hash iterator (hashref) from methodChain end.

Iterator local variable bug test:
----------------------------------------------------------------------
<% FOREACH obj IN testLocalizedIterator %>
<% IF { $obj->value =~ m/testValue #[24]/ } %>
	>>> <% METHODCALL obj value %>
<% END IF %>
<% END FOREACH %>
----------------------------------------------------------------------
Iterator local variable bug test end.

Nested iterator $ITERATOR bug:
----------------------------------------------------------------------
<% FOREACH list IN testNestedIterator %>
outer>>> <% EVAL $ITERATION %>
<% FOREACH obj IN DEREF list %>
	inner>>> <% EVAL $ITERATION %>
<% END FOREACH %>
outer<<< <% EVAL $ITERATION %>
<% END FOREACH %>
----------------------------------------------------------------------
Nested iterator $ITERATOR bug test end.
