
List start:
----------------------------------------------------------------------

<% FOREACH testList %>
	>>> <% METHOD testList %>
<% END FOREACH %>

----------------------------------------------------------------------
List end.

Syntactic sugar start:
----------------------------------------------------------------------
<% FOREACH value IN testSugarList %>
<%DELAYED%>
<% IF { $ITERATION % 2 } %>
	>>> [EVEN] <% METHOD value %>
<% ELSE %>
	>>> [ODD] <% METHOD value %>
<% END IF %>
<%/DELAYED%>
<% END FOREACH %>
----------------------------------------------------------------------
Syntactic sugar end.

Method list start:
----------------------------------------------------------------------
<% FOREACH value IN testMethodList testMethod %>
	>>> <% METHOD value %>
<% END FOREACH %>
----------------------------------------------------------------------
Method list end.

Deref list start:
----------------------------------------------------------------------
<% FOREACH value IN DEREF derefList %>
	>>> <% METHOD value %>
<% END FOREACH %>
----------------------------------------------------------------------
Deref list end.

Deref methodchain start:
----------------------------------------------------------------------
<% FOREACH value IN DEREF testDerefObject testArrayMethod %>
	>>> <% METHOD value %>
<% END FOREACH %>
----------------------------------------------------------------------
Deref methodchain end.

Hash iterator (hash) start:
----------------------------------------------------------------------
<% FOREACH PAIR pair IN testHashIter %>
    >>> <% METHODCALL pair key %> => <% METHODCALL pair value %>
<% END FOREACH %>
----------------------------------------------------------------------
Hash iterator (hash) end.

Hash iterator (hashref) start:
----------------------------------------------------------------------
<% FOREACH PAIR pair IN testHashrefIter %>
    >>> <% METHODCALL pair key %> => <% METHODCALL pair value %>
<% END FOREACH %>
----------------------------------------------------------------------
Hash iterator (hashref) end.

Hash iterator (hash) from methodChain start:
----------------------------------------------------------------------
<% FOREACH PAIR pair IN testHashIterObject hash %>
    >>> <% METHODCALL pair key %> => <% METHODCALL pair value %>
<% END FOREACH %>
----------------------------------------------------------------------
Hash iterator (hash) from methodChain end.

Hash iterator (hashref) from methodChain start:
----------------------------------------------------------------------
<% FOREACH PAIR pair IN testHashrefIterObject hashref %>
    >>> <% METHODCALL pair key %> => <% METHODCALL pair value %>
<% END FOREACH %>
----------------------------------------------------------------------
Hash iterator (hashref) from methodChain end.
