
List start:
----------------------------------------------------------------------
<% GREP  testList { $_ ne 'two' } %>
	>>> <% METHOD testList %>
<% END GREP %>
----------------------------------------------------------------------
List end.

Methodcall list start:
----------------------------------------------------------------------
<% GREP value IN testObject values { $_[0] ne 'two' } %>
	>>> <% METHOD value %>
<% END GREP %>
----------------------------------------------------------------------
Methodcall list end.
