<% INHERIT inheritedValue %>
<% INHERIT overiddenValue %>

	Grandchild inherited value:
	--------------------------------------------------
	<% METHOD inheritedValue %>
	--------------------------------------------------

	Grandchild overridden value:
	--------------------------------------------------
	<% METHOD overiddenValue %>
	--------------------------------------------------

	Grandchild non-inherited value:
	--------------------------------------------------
	<% METHOD nonInheritedValue %>
	--------------------------------------------------
