<% INHERIT inheritedValue %>
<% INHERIT overiddenValue %>

	Child inherited value:
	--------------------------------------------------
	<% METHOD inheritedValue %>
	--------------------------------------------------

	Child overridden value:
	--------------------------------------------------
	<% METHOD overiddenValue %>
	--------------------------------------------------

	Child non-inherited value:
	--------------------------------------------------
	<% METHOD nonInheritedValue %>
	--------------------------------------------------
