
Parent inherited value:
--------------------------------------------------
<% METHOD inheritedValue %>
--------------------------------------------------

Parent overridden value:
--------------------------------------------------
<% METHOD overiddenValue %>
--------------------------------------------------

Parent non-inherited value:
--------------------------------------------------
<% METHOD nonInheritedValue %>
--------------------------------------------------

Child template:
--------------------------------------------------
<% METHOD childTemplate %>
--------------------------------------------------



