
List start:
----------------------------------------------------------------------
'<% JOIN testList "', '" %><% METHOD testList %><% END JOIN %>'
----------------------------------------------------------------------
List end.

Sugar list start:
----------------------------------------------------------------------
'<% JOIN item IN sugarList WITH "', '" %><% METHOD item %><% END JOIN %>'
----------------------------------------------------------------------
List end.

Method list start:
----------------------------------------------------------------------
'<% JOIN value IN testObject values WITH "', '" %><% METHOD value %><% END JOIN %>'
----------------------------------------------------------------------
Method list end.
