
List start:
----------------------------------------------------------------------

<% MAP testList {
	my $val = shift;
	ucfirst $val;
} %>
	>>> <% METHOD testList %>
<% END MAP %>

----------------------------------------------------------------------
List end.

Methodcall list start:
----------------------------------------------------------------------
<% MAP value IN testObject values { "{$_[0]}" } %>
	>>> <% METHOD value %>
<% END MAP %>
----------------------------------------------------------------------
Methodcall list end.
