
Maxlength test (50):
--------------------------------------------------
<% MAXLENGTH 50 %>
<% METHOD content %>
<% END MAXLENGTH %> 
--------------------------------------------------

Maxlength test (40):
----------------------------------------
<% MAXLENGTH 40 %>
<% METHOD content %>
<% END MAXLENGTH %> 
----------------------------------------

Maxlength test (30):
------------------------------
<% MAXLENGTH 30 %>
<% METHOD content %>
<% END MAXLENGTH %> 
------------------------------

Maxlength test (20):
--------------------
<% MAXLENGTH 20 %>
<% METHOD content %>
<% END MAXLENGTH %> 
--------------------
