Test 2: <% METHODCALL test2 testMethod %>
Test 3: <% METHODCALL test3 testMethod '%15s' %>

Test 4: <% METHODCALL test4 one.testMethod %>

Test 5: <% METHODCALL test5 0 %>
Test 5: <% METHODCALL test5 1 %>

