<% QUERY knightName 'What is your name?' ['Arthur','Bedevere','Gawain','Launcelot'] %>

<% QUERY knightQuest 'What is your quest?' /(?i:holy grail)/ %>

<% QUERY knightSillyQuestion 'What is the air-speed velocity of an unladen swallow?' {	
	'African'	=> 2.2,	
	'European'	=> 1.6
} %>

