
List start:
----------------------------------------------------------------------
<% SORT testList { $_[0] cmp $_[1] } %>
	>>> <% METHOD testList %>
<% END SORT %>
----------------------------------------------------------------------
List end.

Methodcall list start:
----------------------------------------------------------------------
<% SORT value IN testObject values WITH { $_[1] cmp $_[0] } %>
	>>> <% METHOD value %>
<% END SORT %>
----------------------------------------------------------------------
Methodcall list end.
