
Trim test (50):
--------------------------------------------------
<% TRIM 50 %>
<% METHOD content %>
<% END TRIM %> 
--------------------------------------------------

Trim test (40):
----------------------------------------
<% TRIM 40 %>
<% METHOD content %>
<% / TRIM %> 
----------------------------------------

Trim test (30):
------------------------------
<% TRIM 30 %>
<% METHOD content %>
<% END TRIM %> 
------------------------------

Trim test (20):
--------------------
<% TRIM 20 %>
<% METHOD content %>
<% /TRIM %> 
--------------------

Maxlength (backwards-compat) test (20):
--------------------
<% MAXLENGTH 20 %>
<% METHOD content %>
<% END MAXLENGTH %> 
--------------------
